@import "../../config.scss";

.container {
  @include border($cl3, $cl3, 3px);
  width: 60%;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 139, 113, 0.289);
  backdrop-filter: blur(2px);
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
    height: 50vh;
  }
}
