.scroll-list-container {
     position: relative;
     width: 100%;
}

.scroll-list {
     max-height: 35vh;
     overflow-y: auto;
     padding: 16px;
}

.scroll-list::-webkit-scrollbar {
     width: 8px;
}

.scroll-list::-webkit-scrollbar-track {
     background: #060010;
}

.scroll-list::-webkit-scrollbar-thumb {
     background: #271e37;
     border-radius: 4px;
}

.no-scrollbar::-webkit-scrollbar {
     display: none;
}

.no-scrollbar {
     -ms-overflow-style: none;
     scrollbar-width: none;
     height: 35vh;
}

.item {
     padding: 25px;
     background-color: #F82952;
     border-radius: 8px;
     margin-bottom: 1rem;
}

.item.selected {
     background-color: rgb(191, 83, 105);
}

.item-text {
     color: white;
     margin: 0;
}

.top-gradient {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     height: 50px;
     background: linear-gradient(to bottom, #F9DCD6, transparent);
     pointer-events: none;
     transition: opacity 0.3s ease;
}

.bottom-gradient {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     height: 100px;
     background: linear-gradient(to top, #F9DCD6, transparent);
     pointer-events: none;
     transition: opacity 0.3s ease;
}

.done_svg {
     stroke: rgb(55, 55, 55);
     stroke-width: 3px;
     fill: rgba(30, 255, 0, 0.255);
     width: 30px;
     height: 30px;
}