@import "../config.scss";

.map {
  display: flex;
  gap: 5%;
  width: 100%;
}

.container {
  @include border($cl3, $cl3, 3px);
  width: 60%;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

.menu {
  font-family: var(--pacifico_font);
  font-size: 1.2rem;
  position: absolute;
  z-index: 12;
}

.tasks_cont {
  @include border($cl3, $cl3, 3px);
  width: 35%;
  height: 100%;
  min-height: 250px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .map {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .container {
    width: calc(100% - 30px);
    height: 40vh;
  }

  .tasks_cont {
    width: 100%;
  }
}

.fullMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; // чтобы меню было поверх Squares и карты
  overflow: hidden;
}

.fullMenuContent {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;
}

@mixin btn {
  font-size: 2rem;
  cursor: pointer;
  color: #000000;
  z-index: 20;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.2);
  }
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  @include btn;
}

.openButton {
  position: absolute;
  top: -1px;
  right: 20px;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px 15px;
  @include btn();
  border-radius: 0 0 300px 300px;
}
