@import "../config.scss";

.btn_cont {
  @include border(grey, rgb(99, 99, 99), 2px);
  background: $cl5;
  display: flex;
  width: max-content;
  padding: 5px 15px;
  align-items: flex-start;
  align-items: center;
  gap: 2vw;
  color: grey;
  height: calc(100% - 5px);
  position: relative;

  user-select: none;
  &:active {
    -webkit-box-shadow: 0px 5px 0px 0px rgb(50, 50, 50);
    -moz-box-shadow: 0px 5px 0px 0px rgb(50, 50, 50);
    box-shadow: 0px 5px 0px 0px rgb(50, 50, 50);
    transform: translateY(1px);
  }
}

@media (max-width: 1000px) {
  .btn_text {
    display: none;
  }
}

.img {
  min-width: 30px;
  min-height: 30px;
}
