@media screen and (max-width: 767px) and (min-height: 490px) {
  .auth_container {
    width: 85vw;
    height: 70vh;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    @include flex-center;

    &__overlay_container {
      display: none;
    }

    @mixin form-container {
      background-color: $white-color;
      width: 100%;
      height: 90%;
      @include flex-center;
      flex-direction: column;
      position: absolute;
      transition: all 300ms linear;
      top: 0;
    }

    &__form_container-log {
      @include form-container;
      left: 0;
    }

    &__form_container-log.reg-active {
      transform: translateY(-101%);
    }

    &__form_container-reg {
      @include form-container;
      top: 100%;
    }

    &__form_container-reg.reg-active {
      transform: translateY(-100%);
      animation: none;
    }

    @mixin switch_btn {
      @include glass-shell;
      display: block;
      position: absolute;
      width: 100%;
      height: 10%;
      outline: none;
      border: none;
      padding: 0;
      transition: all 300ms linear;
      color: $text-color;
      font-size: 1.2rem;
      border-left: 2px solid $purple-color;
      border-right: 2px solid $purple-color;
      border-bottom: 2px solid $purple-color;
      font-family: "Pacifico", sans-serif;
      font-weight: 200;
    }

    &__switch_btn-reg {
      @include switch_btn;
      bottom: 0;
      z-index: 5;
      opacity: 1;
      border-radius: 0 0 15px 15px;
    }

    &__switch_btn-reg.reg-active {
      bottom: 90%;
      z-index: 5;
      opacity: 0;
    }

    &__switch_btn-log {
      @include switch_btn;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      border-radius: 0px;
      border-radius: 15px 15px 0 0;
      border-bottom: none;
    }

    &__switch_btn-log.reg-active {
      @include switch_btn;
      bottom: 90%;
      z-index: 5;
      opacity: 1;
      border-top: 2px solid $purple-color;
      border-radius: 15px 15px 0 0;
    }
  }
}

@media screen and (max-width: 1023px) and (max-height: 500px) {
  .auth_container {
    width: 85vw;
    height: 100vh;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    @include flex-center;

    &__overlay_container {
      display: none;
    }

    @mixin form-container {
      background-color: $white-color;
      width: 100%;
      height: 90%;
      @include flex-center;
      flex-direction: column;
      position: absolute;
      transition: all 300ms linear;
      top: 0;
    }

    &__form_container-log {
      @include form-container;
      left: 0;
    }

    &__form_container-log.reg-active {
      transform: translateY(-101%);
    }

    &__form_container-reg {
      @include form-container;
      top: 100%;
    }

    &__form_container-reg.reg-active {
      transform: translateY(-100%);
      animation: none;
    }

    @mixin switch_btn {
      @include glass-shell;
      display: block;
      position: absolute;
      width: 100%;
      height: 10%;
      outline: none;
      border: none;
      padding: 0;
      transition: all 300ms linear;
      color: $text-color;
      font-size: 1.2rem;
      border-left: 2px solid $purple-color;
      border-right: 2px solid $purple-color;
      border-bottom: 2px solid $purple-color;
      font-family: "Pacifico", sans-serif;
    }

    &__switch_btn-reg {
      @include switch_btn;
      bottom: 0;
      z-index: 5;
      opacity: 1;
      border-radius: 0 0 15px 15px;
    }

    &__switch_btn-reg.reg-active {
      bottom: 90%;
      z-index: 5;
      opacity: 0;
    }

    &__switch_btn-log {
      @include switch_btn;
      bottom: 0;
      z-index: 1;
      opacity: 0;
      border-radius: 0px;
      border-radius: 15px 15px 0 0;
      border-bottom: none;
    }

    &__switch_btn-log.reg-active {
      @include switch_btn;
      bottom: 90%;
      z-index: 5;
      opacity: 1;
      border-top: 2px solid $purple-color;
      border-radius: 15px 15px 0 0;
    }
  }

  .btn {
    &__svg-yandex {
      width: 4%;
    }

    &__svg-google {
      width: 7%;
    }
  }

  .input_container {
    &__input_field-password {
      width: calc(100% - max(5%, 1vw));
    }

    .password_field {
      &__password_btn {
        outline: none;
        padding: 0;
        border: none;
        background-color: transparent;
        width: max(5%, 1vw);

        @include flex-center;
      }
    }
  }
}
