@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Pacifico&display=swap");

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

@mixin buttons-size {
  width: 100%;
  height: 7%;
  min-height: 30px;
}

.submit_btn {
  @include buttons-size;
  border-radius: 100vw;
  border: 2px solid $light-purple-color;
  color: $white-color;
  background-color: $btn-bg-color;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  transition: all 100ms ease;

  &:focus {
    border-color: $purple-active-color;
  }

  @media (hover: hover) {
    &:hover {
      border-color: $purple-active-color;
    }
  }
}

.log_with_container {
  @include buttons-size;
  @include flex-center;
  column-gap: 1vw;

  &__btn {
    width: 100%;
    max-width: 100%;
    height: 100%;
    color: $white-color;
    background-color: $btn-bg-color;
    border-radius: 100vw;
    border: 2px solid $light-purple-color;
    padding: 0;
    outline: none;
    @include flex-center;
    overflow: hidden;
    transition: all 100ms ease;

    &:focus {
      border-color: $purple-active-color;
    }

    @media (hover: hover) {
      &:hover {
        border-color: $purple-active-color;
        font-size: 1rem;
      }
    }
  }
}

.btn {
  &__svg-yandex {
    width: 9%;
  }

  &__svg-google {
    width: 25%;
    min-width: 75px;
    max-width: 30px;
    transition: all 100ms ease;
  }
}

.auth_container {
  width: 50vw;
  height: 50vh;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  @include flex-center;

  &__overlay_container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }

  &__overlay_container.reg-active {
    transform: translateX(-100%);
  }

  @mixin form-container {
    background-color: $white-color;
    width: 50%;
    height: 100%;
    @include flex-center;
    flex-direction: column;
    position: absolute;
    transition: all 0.6s ease-in-out;
    overflow: auto;
  }

  &__form_container-log {
    @include form-container;
    left: 0;
    z-index: 2;
  }

  &__form_container-log.reg-active {
    transform: translateX(100%);
  }

  &__form_container-reg {
    @include form-container;
    left: 0;
    opacity: 0;
    z-index: 1;
  }

  &__form_container-reg.reg-active {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }

  &__switch_btn-reg,
  &__switch_btn-log {
    display: none;
  }
}

.overlay_container {
  &__overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  &__overlay.reg-active {
    transform: translateX(50%);
  }
}

.overlay {
  @mixin greetings_container {
    @include glass-shell;
    outline: 0;
    height: 100%;
    width: 50%;
    @include flex-center;
    flex-direction: column;
    row-gap: 5vh;
    position: absolute;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
    top: 0;
    border-radius: 0;
  }

  &__greetings_container-log {
    @include greetings_container;
    right: 0;
    z-index: 100;
    border-radius: 0 15px 15px 0;
  }

  &__greetings_container-log.reg-active {
    transform: translateX(0);
  }

  &__greetings_container-reg {
    @include greetings_container;
    transform: translateX(0);
    border-radius: 15px 0 0 15px;
  }

  &__greetings_container-reg.reg-active {
    transform: translateX(0);
  }
}

.greetings_container {
  &__text_container {
    width: 92%;
    margin: 0 auto;
    @include flex-center;
    flex-direction: column;
    row-gap: 1vh;

    h1 {
      font-family: "Pacifico", sans-serif;
      font-size: x-large;
      font-weight: 400;
      text-align: center;
      margin: 0;
    }

    p {
      font-size: medium;
      font-weight: 100;
      text-align: center;
      margin: 0;
    }
  }

  &__btn {
    @include glass-shell;
    @include flex-center;
    padding: 0;
    border: none;
    width: 60%;
    height: 8%;
    color: $text-color;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1rem;
    transition: all 100ms ease;

    @media (hover: hover) {
      &:hover {
        font-size: 1.2rem;
        outline-color: $purple-active-color;
      }
    }
  }
}

.form {
  width: calc(100% - 8vw);
  height: calc(100% - 2vh);
  padding: 1vh 4vw;
  @include flex-center;
  flex-direction: column;
  row-gap: 1.5vh;

  &__text {
    color: black;
    max-width: 100%;
    text-align: center;
    text-overflow: ellipsis;
    font-size: x-large;
    margin: 0;
    padding-bottom: clamp(5%, 5vh, 30%);
  }

  &__error_message_container {
    box-sizing: border-box;
    width: 100%;
    max-height: 10%;
    @include flex-center;
    flex-direction: column;
    min-height: min-content;
    min-width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    @include hide-scrollbar;
  }

  &__success_message_container {
    @extend .form__error_message_container;
    min-height: 15px;

    p {
      color: $green-color;
      font-weight: 900;
    }
  }
}

.error_message_container {
  &__errors {
    height: 100%;

    p {
      margin: 0;
      margin-bottom: 1vh;
      color: $error-color;
      font-size: 1rem;
      text-align: center;
      font-weight: 500;
      width: 100%;
    }
  }
}

.input_container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;

  &__input_field {
    padding: 0;
    width: 92%;
    color: $light-purple-color;
    font-size: 1rem;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
  }

  &__input_field::placeholder {
    color: $light-purple-color;
  }

  &__underline {
    width: 100%;
    height: 0.35vh;
    min-height: 3px;
    background: $liner-gradient;
    border-radius: 100vw;
  }

  &__password_field {
    display: flex;
    flex-direction: row;
    column-gap: normal;
    width: 92%;
  }

  &__input_field-password {
    padding: 0;
    width: 92%;
    font-size: 1rem;
    color: $light-purple-color;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border: none;
    outline: none;
    background-color: transparent;
    position: relative;
  }

  &__input_field-password::placeholder {
    color: $light-purple-color;
  }

  .password_field {
    &__password_btn {
      outline: none;
      padding: 0;
      border: none;
      background-color: transparent;
      width: 8%;
      @include flex-center;
    }
  }

  .password_btn {
    &__svg {
      width: 100%;
    }
  }
}

@import "./tablet.scss";
@import "./mobile.scss";
