@import "../../config.scss";

.canvas {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 45vh;
  position: relative;
}

.answer_cont {
  width: 35%;
  height: min-content;
  min-height: 250px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  overflow: visible;
  position: relative;
  transition: height ease-in 2s;

  &__answer {
    display: block;
    @include border($cl3, $cl3, 3px);
    margin: 0;
    flex: 1;
    background-color: $cl5;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &__btn_cont {
    display: inline-flex;
  }
}

.answer {
  &__title {
    text-align: center;
    font-size: xx-large;
    margin-top: 5px;
    margin-bottom: 3vh;
  }
}

@media (max-width: 1000px) {
  .canvas {
    flex-direction: column-reverse;
    height: 65dvh;
  }

  .answer_cont {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .canvas {
    flex-direction: column-reverse;
    height: max-content;
  }

  .answer_cont {
    width: 100%;
  }

  .answer {
    &__title {
      font-size: x-large;
    }
  }
}
