@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button {
  @include glass-shell;
  height: 100%;
  border: none;
  color: $text-color;
  font-family: var(--comfortaa);
}

@mixin glass-shell {
  width: 100%;
  height: 100%;
  background-color: $purple-glass-color;
  backdrop-filter: blur(3px);
  outline: 2px solid $purple-color;
  border-radius: 15px;
}

@mixin scrollbar {
  &::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: $purple-color;
    border-radius: 15px;
  }

  &::-webkit-scrollbar {
    width: 3px;
    border-radius: 15px;
  }
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  scrollbar-width: none;

  -ms-overflow-style: none;
}

@mixin main {
  width: 100%;
  height: 100%;
  @include flex-center;
  flex-direction: column;
}

@mixin border($color1, $color2, $br_width) {
  --color: $color1;
  border: $br_width solid $color1;
  -webkit-box-shadow: 0px 5px 0px 0px $color1;
  -moz-box-shadow: 0px 5px 0px 0px $color1;
  box-shadow: 0px 5px 0px 0px $color2;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}
