$purple-color: #fb716e;
$light-purple-color: #941d3a;
$pink: #ba95cb;
$purple-active-color: #f82952;
$purple-glass-color: #f0797935;
$white-color: #ffffff;
$text-color: #fb716e;
$bg-color: #201b2f;
$green-color: #a8cd9f;
$liner-gradient: linear-gradient(90deg, #fb716e, #f9dcd6);
$btn-bg-color: #941d3a;
$error-color: #eb4335;

$bg1: #f8f8f8;
$cl1: #941d3a;
$cl2: #f82952;
$cl3: #17c77b;
$cl4: #03654e;
$cl5: #ffffff;
