@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.profile {
  @include glass-shell;
  @include flex-center;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  outline-width: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: max-content;
  padding-bottom: calc(30px + 7vh);
  gap: 2.5vh;
  $size: 6vw;
  // box-shadow: 5px 5px 15px 3px rgba(50, 0, 167, 0.2);
  outline: 1px solid $purple-color;
  backdrop-filter: blur(10px);

  &__header_avatar {
    width: 100%;
    background-color: $purple-glass-color;
    height: calc(20vw * 9 / 21);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-bottom: calc($size / 2);

    &::before {
      content: "";
      background-color: $purple-color;
      position: absolute;
      bottom: calc(-0.5 * $size);
      width: $size;
      height: $size;
      border-radius: 100vw;
      left: 1vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: var(--avatar-url);
      z-index: 100;
    }
  }

  &__name_cont {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: calc(100% - 2.5vw - 6px);
    margin: 0 1.25vw;
    padding: 3px;
    gap: 0.5vw;

    label {
      margin: 0;
      font-size: 1.4rem;
    }
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 600;
    width: calc(100% - 6px);
    padding: 2px 3px;
    text-align: left;
    overflow-x: auto;
    border-radius: 10px;
    transition: background-color ease-in-out 100ms;
    text-wrap: nowrap;

    @media (hover: hover) {
      &:hover {
        background-color: rgba(34, 34, 34, 0.5);
        transition: background-color ease-in-out 100ms;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__email {
    @extend .profile__name;
    width: calc(100% - 2.5vw - 6px);
    margin: 0 1.25vw;
    padding: 3px;
    transition: none;

    &::before {
      content: "@";
      display: inline-block;
      width: 22px;
      font-size: 1.2rem;
      margin-right: 0.5vw;
    }

    @media (hover: hover) {
      &:hover {
        background-color: transparent;
        transition: none;
      }
    }

    font-weight: 400;
    font-size: 1rem;
  }

  &__avatar_input {
    width: $size;
    height: $size;
    position: absolute;
    bottom: calc(-0.5 * $size);
    left: 1vw;
    border-radius: 100vw;
    z-index: 100;
    transition: background-color ease-in-out 100ms;

    @media (hover: hover) {
      &:hover {
        &::before {
          content: "Изменить";
          position: absolute;
          top: 55%;
          left: 50%;
          font-size: small;
          transform: translate(-50%, -50%);
        }

        background-color: rgba(34, 34, 34, 0.5);
        transition: background-color ease-in-out 100ms;
      }
    }
  }

  &__header_input {
    width: 100%;
    height: calc(20vw * 9 / 21);
    position: absolute;
    transition: background-color ease-in-out 100ms;
    z-index: 99;

    @media (hover: hover) {
      &:hover {
        &::before {
          content: "Изменить";
          position: absolute;
          top: 55%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        background-color: rgba(34, 34, 34, 0.5);
        transition: background-color ease-in-out 100ms;
      }
    }
  }

  &__logout_btn {
    position: absolute;
    bottom: 2vh;
    width: calc(100% - 2.5vw);
    padding: 0 1.25vw;
    height: 30px;
    border: none;
    color: $error-color;
    outline: 2px solid $purple-color;
    border-radius: 7.5px;
    background-color: $purple-glass-color;
    font-family: var(--comfortaa_font);
    transition: background-color 150ms ease-in;

    @media (hover: hover) {
      &:hover {
        background-color: $purple-active-color;
        transition: background-color 150ms ease-in;
      }
    }
  }
}

@import "./tablet.scss";
@import "./mobile.scss";
