@import "../../config.scss";

.actions {
  display: flex;
  justify-content: space-between;
}

.svg_btn {
  min-height: 30px;
  min-width: 30px;
  stroke: gray;
  width: 100%;
}

@media (max-width: 1000px) {
  .actions {
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .actions {
    width: 100%;
  }
}
