.card_list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3vw;
  align-items: center;
  justify-content: flex-start;

  @media (max-width: 1000px) {
    justify-content: center;
    flex-direction: column;
  }
}
